@page "/profile"
@using Client.Models
@using Client.Services.Interfaces
@using System.ComponentModel.DataAnnotations
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider

<div>
    @if (IsChangeSuccessful)
    {
        <h2 id="successMessage">User is changed successfully! <br /> We are doing logout in 3...2...1...!</h2>
    } 
    else
    {
        <h1>Profile</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@UpdateUser.OldUsername</td>
                    <td>@UpdateUser.OldEmail</td>
                </tr>
            </tbody>
        </table>


        <EditForm Model="UpdateUser" OnValidSubmit="UpdateProfile">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="userName">Change Username:</label>
                <InputText id="userName" @bind-Value="UpdateUser.NewUsername" class="form-control" placeholder="@UpdateUser.OldUsername" />
                <ValidationMessage For="@(() => UpdateUser.NewUsername)" />
            </div>
            <div class="form-group">
                <label for="email">Change Email:</label>
                <InputText id="email" @bind-Value="UpdateUser.NewEmail" class="form-control" placeholder="@UpdateUser.OldEmail" />
                <ValidationMessage For="@(() => UpdateUser.NewEmail)" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </EditForm>
    }
   
</div>


@code {
    public bool IsChangeSuccessful { get; set; } = false;
    public UpdateUser UpdateUser { get; set; } = new();
    [Inject] IUserProfileService ProfileService { get; set; }
    [Inject] NavigationManager NavManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            UpdateUser.OldUsername = user.Identities
                                .SelectMany(identity => identity.Claims)
                                .FirstOrDefault(claim => claim.Type == "name")?.Value;
            UpdateUser.OldEmail = await ProfileService.GetUserEmail(UpdateUser.OldUsername);
        }

        StateHasChanged();
    }

    private async Task UpdateProfile()
    {
        if (UpdateUser.Validate(new ValidationContext(UpdateUser)).Any())
        {
            // Якщо модель не валідна, не робимо оновлення профілю
            return;
        }
        await ProfileService.ChangeUser(UpdateUser);

        IsChangeSuccessful = true;

        StateHasChanged();

        NavManager.NavigateTo("/profile#successMessage");

        StateHasChanged();
        await Task.Delay(3000);

        NavManager.NavigateTo("/Logout", true);
    }
}