@page "/bookdetails/{bookTitle}"

<button @onclick="GoBack">Go Back</button>

@if (Book != null)
{
    <h1>@Book.Title</h1>
    <article>
        <div class="book-cover">
            
            <img src="@Book.Image" alt="Book Image Here" />
        </div>
        <section>
            <p>Author: @Book.AuthorName</p>
            <p>Genre:
                @foreach (var genre in Book.Genre)
                {
                    <span>@genre; </span>
                }
             </p>

            <p>Description: @Book.Description</p>

            <p>Price: @Book.Price</p>
            <p>Publisher: @Book.PublisherName</p>
            <p>Publication Date:
                @Book.PublicationDate.Day.@if (@Book.PublicationDate.Month < 10)
                {
                    <span>0</span><span>@Book.PublicationDate.Month.</span>
                }
                else
                {
                    <span>@Book.PublicationDate.Month.</span>
                }
                @Book.PublicationDate.Year</p>
            <p>Pages: @Book.NumberOfPages</p>
            <button id="sendToBasket">Buy</button>

            <div class="reviews">
                <p>There are no reviews now.</p>
            </div>
        </section>
    </article>
}
else
{
    <p>Book not found</p>
}

@code {
   
}